# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np
import random

In [15]:
data = {'Cities':['Austin', 'Dallas', 'Ballon','Cat','Dog','Follow','God','Happy','Imply','July','Kid','Lack','Mom','Oops'] ,
        'Population': np.random.randint(10000,1000000,size=14)}
data=pd.DataFrame(data)

In [16]:
print(data)

    Cities  Population
0   Austin      767972
1   Dallas       53534
2   Ballon      343980
3      Cat      248312
4      Dog       48178
5   Follow      448404
6      God      153599
7    Happy      469029
8    Imply      103368
9     July      639353
10     Kid      966086
11    Lack      757176
12     Mom      844287
13    Oops      657382

In [56]:
val=data['Population'].idxmax()

In [57]:
data[val:(val+1)]

   Cities  Population
10    Kid      966086